#project
project.{{ nombre_proyecto_svn }}.svnArtifactsTag=http://svn.sii.cl/svn/did/{{ path_artefactos_proyecto }}

project.{{ nombre_proyecto_svn }}.svnUsr={{ usuario_ldap }}
project.{{ nombre_proyecto_svn }}.svnPwd={{ password_ldap }}
project.Sif.log4jTargets=jboss51
project.Sif.log4jCategory=cl.sii.sdi.lob.fis.sif
project.Sif.log4jAppenderId=sif
project.Sif.propertiesId=sif

###
datasource.{{ nombre_data_source }}.id={{ nombre_data_source }}
datasource.{{ nombre_data_source }}.jndiName=JDBC/DATASOURCE/{{ nombre_data_source }}
datasource.{{ nombre_data_source }}.url={{ string_conexion }}
datasource.ARCODS.minPoolSize=1
datasource.ARCODS.maxPoolSize=5
datasource.ARCODS.pstCacheSize=40
datasource.{{ nombre_data_source }}.dbUsername={{ usuario_oracle }}
datasource.{{ nombre_data_source }}.dbPassword={{ password_oracle }}
datasource.{{ nombre_data_source }}.serverTarget={{ granja_ejecucion }}
datasource.{{ nombre_data_source }}.project={{ nombre_proyecto_svn }}