#project
project.{{ nombre_proyecto_svn }}.svnArtifactsTag=http://svn.sii.cl/svn/did/{{ path_artefactos_proyecto }}

project.{{ nombre_data_source }}.svnUsr={{ usuario_ldap }}
project.{{ nombre_data_source }}.svnPwd={{ password_ldap }}
project.{{ nombre_data_source }}.log4jTargets=jboss51
project.{{ nombre_data_source }}.log4jCategory=cl.sii.sdi.lob.fis.{{ nombre_data_source }}
project.{{ nombre_data_source }}.log4jAppenderId={{ nombre_data_source }}
project.{{ nombre_data_source }}.propertiesId={{ nombre_data_source }}

###
datasource.{{ nombre_data_source }}.id={{ nombre_data_source }}
datasource.{{ nombre_data_source }}.jndiName=JDBC/DATASOURCE/{{ nombre_data_source }}
datasource.{{ nombre_data_source }}.url={{ string_conexion }}
datasource.{{ nombre_data_source }}.minPoolSize=1
datasource.{{ nombre_data_source }}.maxPoolSize=5
datasource.{{ nombre_data_source }}.pstCacheSize=40
datasource.{{ nombre_data_source }}.dbUsername={{ usuario_oracle }}
datasource.{{ nombre_data_source }}.dbPassword={{ password_oracle }}
datasource.{{ nombre_data_source }}.serverTarget={{ granja_ejecucion }}
datasource.{{ nombre_data_source }}.project={{ nombre_proyecto_svn }}