SDI_COMMONS_DEPLOY_BASEDIR=$1
DEPLOY_BASEDIR=$2
DEPLOY_PROPERTIES_FILES=$3
JAVA_HOME=/opt/jdk1.6.0_30
THE_CLASSPATH=
for i in $(ls ${SDI_COMMONS_DEPLOY_BASEDIR}/lib/*.jar)
do
THE_CLASSPATH=${THE_CLASSPATH}:${i}
done
for i in $(ls ${SDI_COMMONS_DEPLOY_BASEDIR}/lib/svn/*.jar)
do
THE_CLASSPATH=${THE_CLASSPATH}:${i}
done
for i in $(ls ${SDI_COMMONS_DEPLOY_BASEDIR}/ant/lib/*.jar)
do
THE_CLASSPATH=${THE_CLASSPATH}:${i}
done
${JAVA_HOME}/bin/java -cp "${THE_CLASSPATH}" cl.sii.sdi.commons.deploy.OneClickDeployer "$SDI_COMMONS_DEPLOY_BASEDIR" "$DEPLOY_BASEDIR" "$DEPLOY_PROPERTIES_FILES"